# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
venv/
.venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# Streamlit Secrets
# ==========================================
.streamlit/secrets.toml

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Pytest
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.bak
*.swp

# ==========================================
# MLflow tracking
# ==========================================
mlruns/
mlflow
mlflow.db
mlruns/
data/raw/india-news-headlines.csv
data/raw/IndianFinancialNews.csv